$itvBlue: #1abec8;
$black: #282828;
$white: #FFFF;

body {
  font-family: "ITV Reem", sans-serif;
  margin: 0 100px;
  background: rgba(grey, 0.03)
}
ul {margin:0}

.img:hover { //hover attribute to itv logo on top-left of page
filter:brightness(25%);
}

.navigation { //navigation bar on top of page
  bottom: 10px;
  align-items: center; //vertical align
  justify-content: center;  //horizontal align
  background: rgba(grey, 0.1);
  margin-top: 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  a {
    color: grey;
  }
}

.main { //image on page
  background: no-repeat url("background.jpg");
  background-size: contain;
  width: 100%;
  height: 150vh;
}

li::before { //removes bullet points from unordered list
  display: none;
}

li a { //all text within both nav bars
  text-align:center;
  padding: 0px 30px ;
  color: #FFFF;
}


li a:hover { //changes color of nav text when hover
  color: $itvBlue;
}

#help { //make help button smaller and move to the right
  font-size: 14px;
  padding-left: 70px;
}

#ad-free { //changes ad-free text color
  color: $itvBlue;
}

.far { //sign-in icon
  padding-left: 10px;
  color: $itvBlue;
}

.fas { //Watch ad-free icon
  padding-left: 10px;
}
.navigation-2 { //nav bar with list of ITV Channels
  width: 1463px;
  align-items: center; //vertical align
  justify-content: center; //horizontal align
  font-weight: lighter;
  background: rgba(grey, 0.5);
  height: 40px;
  display: flex; //makes all list items appear horizontal
  flex-direction: row;
}



.footer { //footer of website
  padding: 1rem;
  height: 250px;
  background-color: $black;
  color: $white;
  padding-left: 100px;
  display: flex;
  justify-content: left;

  ul li { //text within the footer
    position: relative;
    top: 20px;
    right: 650px;
    padding-right: 50px;

  }
.icon { //all itv logos within header
  padding-right: 60px;
  padding-top: 30px;
}

.small-print0 { //cookie policy text
  position: absolute;
  bottom: -990px;
  padding-left: 95px;
  font-size: 14px;
}

.small-print { //copyright text
  position: absolute;
	bottom: -1025px;
  padding-left: 90px;
  font-size: 12px;
}

.footer-headings { //ITV Presents, Corporate, Information
  font-size: 18px;
  padding-bottom: 10px;
  padding-top: 80px;
}
}
